<div class="my-btn">
  <h4><%= $supplier.name%> Supplier</h4>
  <div class="two-btn">
    <%= form_tag import_price_lists_path, multipart: true do%>
      <div class="form-group">
        <div class="col-md-2 "  style="margin-right: 120px;"><%=file_field_tag :file, class: 'form-control-file', required: true %></div>
        <div class="col-md-3"><%= submit_tag "Import CSV", class: 'btn btn-primary'%></div>
      </div>
    <%end%>
    <%#= link_to "Download Sample CSV", price_lists_path(format: "csv"), class:"btn btn-success margin-top-25", title: "Download Sample CSV"%> 
    <%= link_to "Download Sample CSV", pricelistsample_price_lists_path(format: "csv"), class:"btn btn-success margin-top-25", title: "Download Sample CSV"%> 

    <%=link_to 'Add New Details', {:controller => "price_lists", :action => "new", :supplier_id => $supplier.id }, class: "btn btn-primary"%>
    
    <!-- <a href="#" class="btn-custom">First</a> -->
  </div>
</div>


<div class="cover-select">
<%= form_with scope: :search, url: price_lists_path, method: :get,autocomplete: :off, id: 'search_price', local: true do |f| %>
  <div class="sub-seclect">
    <div class="contant-select">
      <h5>Grade</h5>
      <div>
        <%#= f.select(:grade, options_for_select(@supplier.price_lists.order(:grade).pluck(:grade, :id),(params.dig :search, :search)) , {:include_blank => "Select Grade"}, {:class => "form-control"} ) %>

        <select class = "grade-select">
          <% if @grade.present? %>
            <option selected="selected" class="hidden"><%= @grade %></option>
          <% end %>
          <% @price_lists.each do |pl| %>
            <option class = "grade-value"><%= pl.grade %></option>
          <% end %>
        </select>
        <%= f.hidden_field :grade %>
        <%= f.hidden_field :supplier_id, value: $supplier.id %>
      </div>
    </div>
   <div class="cover-btns">
      <!-- <a href="#" class="single-btn">On click</a> -->
      <%= f.submit "Search", class: "single-btn", title: "Search"%>

   </div>
  </div>
<%end%>
</div>


<div class="box-body table-responsive ">
  <table class="table table-hover table-bordered" id="price_list">
    <thead>
      <tr style="background-color: #D9D7D7;">
        <th>S.NO.</th>
        <th>Grade</th>
        <th>Surface</th>
        <th>MIN (Thickness in  mm)</th>
        <th>MAX (Thickness in  mm)</th>
        <th>Width(mm)</th>
        <th>Package Wt</th>
        <th>Base Price  (RMB)</th>
        <th>Additional Cost(RMB)</th>
        <th>Price(RMB)</th>
        
        <th>Actions</th>
        
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>S.NO.</th>
        <th>Grade</th>
        <th>Surface</th>
        <th>MIN (Thickness in  mm)</th>
        <th>MAX (Thickness in  mm)</th>
        <th>Width(mm)</th>
        <th>Package Wt</th>
        <th>Base Price  (RMB)</th>
        <th>Additional Cost(RMB)</th>
        <th>Price(RMB)</th>
        
        <th>Actions</th>
        
      </tr>
    </tfoot>
    <tbody>
        <% if @pl.blank? %>
            <div class="global-heading user-head">No Record Found. </div>
        <% else %>
          <% @pl&.each do |m| %>
          <tr>
              <td><%= @s_no+=1 %></td>
              <td><%= m&.grade %></td>
              <td><%= m&.surface %></td>
              <td><%= m&.min_thickness_in_mm %></td>
              <td><%= m&.max_thickness_in_mm %></td>
              <td><%= m&.width %></td>
              <td><%= m&.package %></td>
              <td><%= m&.base_price %></td>
              <td><%= m&.additional_cost %></td>
              <td><%= m&.price %></td>

              <td>
              <div class = "action buttons ">
                <%= link_to '<em class="fa fa-edit" aria-hidden="true"></em>'.html_safe, edit_price_list_path(m),:class=>"btn btn-success", method: :get, title: "Edit" %>
                                  
                <%= link_to '<em class="fa fa-trash" aria-hidden="true"></em>'.html_safe,  price_list_path(m), method: :delete,:class=>"btn btn-danger",title: "Delete", data: {confirm: 'Are you sure to delete?' }%>
              </div>
            </td>
          </tr>
          <%end%>
        <%end%>
    </tbody>
  </table>
</div>
<script>
  $('.grade-select').on('change', function() {
    $('#search_grade').val(this.value)
  });
</script>
<style type="text/css">
 tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  }
  tfoot {
    display: table-header-group;
  }
</style>
<script>
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#price_list tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#price_list').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
</script>