<div class="my-btn">
  <h4><%= @supplier.name%> Supplier</h4>
  <div class="two-btn">
    <%#= form_tag import_coatings_path, multipart: true do%>
      <!-- <div class="form-group">
        <div class="col-md-2 "  style="margin-right: 120px;"><%#=file_field_tag :file, class: 'form-control-file', required: true %></div>
        <div class="col-md-3"><%#= submit_tag "Import CSV", class: 'btn btn-primary'%></div>
      </div> -->
    <%#end%>
    <%#= link_to "Add New Details", new_price_list_path, class:"btn btn-primary", title: "Add Details"%> 
    <%=link_to 'Add New Details', {:controller => "price_lists", :action => "new", :Supplier_id => @supplier.id }, class: "btn btn-primary"%>

    <!-- <a href="#" class="btn-custom">First</a> -->
  </div>
</div>


<div class="cover-select">
<%= form_with scope: :search, url: price_lists_path, method: :get,autocomplete: :off,local: true do |f| %>
  <div class="sub-seclect">
    <div class="contant-select">
      <h5>Grade</h5>
      <div>
        <%= f.select(:grade, options_for_select(@supplier.price_lists.order(:grade).pluck(:grade, :id),(params.dig :search, :search)) , {:include_blank => "Select Grade"}, {:class => "form-control"} ) %>
      </div>
    </div>
   <div class="cover-btns">
      <!-- <a href="#" class="single-btn">On click</a> -->
      <%= f.submit "Search", class: "single-btn", title: "Search"%>

   </div>
  </div>
  <%end%>
</div>


 <div class="box-body table-responsive ">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr style="background-color: #D9D7D7;">
                  <th>S.NO.</th>
                  <th>Grade</th>
                  <th>Surface</th>
                  <th>MIN (Thickness in  mm)</th>
                  <th>MAX (Thickness in  mm)</th>
                  <th>Width(mm)</th>
                  <th>Package Wt</th>
                  <th>Base Price  (RMB)</th>
                  <th>Additional Cost(RMB)</th>
                  <th>Price(RMB)</th>
                  
                  <th colspan="3">Actions</th>
                  
                </tr>
                <br/>
                 <% if @pl.blank? %>
                      <div class="global-heading user-head">No Record Found. </div>
                   <% else %>
                <% @pl&.each do |m| %>
                <tr>
                    <td><%= @s_no+=1 %></td>
                    <td><%= m&.grade %></td>
                    <td><%= m&.surface %></td>
                    <td><%= m&.min_thickness_in_mm %></td>
                    <td><%= m&.max_thickness_in_mm %></td>
                    <td><%= m&.width %></td>
                    <td><%= m&.package %></td>
                    <td><%= m&.base_price %></td>
                    <td><%= m&.additional_cost %></td>
                    <td><%= m&.price %></td>

                    <td>
                    <%= link_to '<em class="fa fa-edit" aria-hidden="true"></em>'.html_safe, edit_length_edge_path(m),:class=>"btn btn-success", method: :get, title: "Edit" %>
                                      
                    <%= link_to '<em class="fa fa-trash" aria-hidden="true"></em>'.html_safe,  length_edge_path(m), method: :delete,:class=>"btn btn-danger",title: "Delete", data: {confirm: 'Are you sure to delete?' }%>
                
                  </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>
    </div>


<style>
  .cover-btns{
    text-align: center;
    width: 100%;

  }
  .single-btn{
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
  }
  .my-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #aaaab378;
  padding: 10px;

  }
  .btn-custom{
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    margin-right: 20px;
    background: #fff;

  }
  .two-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-custom:last-child{
    margin-right: 0px;
  }
.cover-select {
    background: #3932326e;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
}
.sub-seclect{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.contant-select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.contant-select h5{
  font-size: 20px;
  color: #000;
  margin-right: 45px;
}



</style>