<section class="content">
      <div class="clearfix">
        <div class="global-heading user-head"><legend>Coating Management</legend></div>
        <div class="aduser-btn"><a href="/coatings/new" class="btn btn-add" title="Add Coating"><i class="fa fa-plus"></i> Add New Coating</a></div>
      </div>
    
     <div id="country-content">
        <%#= render partial: "index"%>
        <div class="clearfix">
        <h3>List</h3>
        <div class="table-responsive cus-table">
           <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Sr_No.</th>
                  <th> Coating Type</th>
                  <th> Coating</th>
                  <th> Cost per sqm</th>
                  <th> Reading</th>

                  <th colspan="3">Actions</th>
                </tr>
              </thead>
              <tbody>
                 <% if @coating.blank? %>
                      <div class="global-heading user-head">No Record Found. </div>
                   <% else %>
              <% @coating.each do |m| %>
                <tr>
                  <td><%= @s_no += 1 %></td>
                  <td><%= m.try(:coating_type)%></td>
                  <td><%= m.try(:coating)%></td>
                  <td><%= m.try(:cost_per_sqm)%></td>
                  <td><%= m.try(:reading)%></td>



                  <td>
                    <%= link_to '<em class="fa fa-edit" aria-hidden="true"></em>'.html_safe, edit_coating_path(m),:class=>"btn btn-success", method: :get, title: "Edit" %>
                                      
                    <%= link_to '<em class="fa fa-trash" aria-hidden="true"></em>'.html_safe,  coating_path(m), method: :delete,:class=>"btn btn-danger",title: "Delete", data: {confirm: 'Are you sure to delete?' }%>
                
                  </td>
                </tr>
              <% end %>
              <%end%>
              </tbody>
            </table>
            
          </div>
        </div>
     </div>
    </section>
    <div class="box-footer">
        <div class="digg_pagination pull-right">
                <%= will_paginate @coating %>
        </div>
    </div>

