<div class="my-btn">
  <h4>Pod Management</h4>
  <div class="two-btn">
    <%= form_tag import_pods_path, multipart: true do%>
      <div class="form-group">
        <div class="col-md-2 "  style="margin-right: 120px;"><%=file_field_tag :file, class: 'form-control-file', required: true %></div>
        <div class="col-md-3"><%= submit_tag "Import CSV", class: 'btn btn-primary'%></div>
      </div>
    <%end%>
  </div>
</div>



<div class="box box-info">
       
     <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            
            <div class="form-group" style="text-align: right;">
                        <%= link_to "Add New Pod", new_pod_path, class:"btn btn-success", title: "Add New Pod"%> 
                        
                        <%= link_to "Download Sample CSV", pods_path(format: "csv"), class:"btn btn-success", title: "Download Sample CSV"%> 
                      
           </div>
        </div>
      </div>
    </div>

    <div class="box-body table-responsive ">
        <table class="table table-hover table-bordered" id="pod">
            <thead>
              <tr style="background-color: #D9D7D7;">
                <th>Sr_No.</th>
                <th> Export Ports</th>
                <th> Freight/20” Container Cost Add</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr style="background-color: #D9D7D7;">
                <th>Sr_No.</th>
                <th> Export Ports</th>
                <th> Freight/20” Container Cost Add</th>
                <th>Actions</th>
              </tr>
            </tfoot>
            <tbody>
                <% if @pod.blank? %>
                      <div class="global-heading user-head">No Record Found. </div>
                   <% else %>
                <% @pod&.each do |m| %>
                <tr>
                  <td><%= @s_no += 1 %></td>
                  <td><%= m.try(:export_pod)%></td>
                  <td><%= m.try(:container_cost_add)%></td>



                  <td>
                    <%= link_to '<em class="fa fa-edit" aria-hidden="true"></em>'.html_safe, edit_pod_path(m),:class=>"btn btn-success", method: :get, title: "Edit" %>
                                      
                    <%= link_to '<em class="fa fa-trash" aria-hidden="true"></em>'.html_safe,  pod_path(m), method: :delete,:class=>"btn btn-danger",title: "Delete", data: {confirm: 'Are you sure to delete?' }%>
                
                  </td>

                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="digg_pagination pull-right">
                <%= will_paginate @pod %>
        </div>
    </div>
</div>
<style type="text/css">
   .margin-top-25 {
    margin-top: 25px;
    }
    .margin-top-60{
    margin-top: -60px;
    margin-left: 1050px;
    }
    .margin-top-5{
        margin-left: 1060px;
        margin-top: 5px;
    }
    tfoot input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
      }
    tfoot {
      display: table-header-group;
    }
</style>

<!--js CSV file validation-->

<script type="text/javascript">
 $(function()
{
  $('#btnsubmit').on('click',function()
  {
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  });
  
});

</script>
<script>
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#pod tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#pod').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
</script>