<div class="my-btn">
  <h4>Custom Premium Management</h4>
  <div class="two-btn">
    <%= form_tag import_custom_premiums_path, multipart: true do%>
      <div class="form-group">
        <div class="col-md-2 "  style="margin-right: 120px;"><%=file_field_tag :file, class: 'form-control-file', required: true %></div>
        <div class="col-md-3"><%= submit_tag "Import CSV", class: 'btn btn-primary'%></div>
      </div>
    <%end%>
  </div>
</div>





<div class="box box-info">
       
    <div class="box-body">
        <div class="row">
          <div class="form-group" style="float: right;">
                      <%= link_to "Download Sample CSV", custom_premiums_path(format: "csv"), class:"btn btn-success",style: "margin-right: 10px", title: "Download Sample CSV"%> 
                      
          </div>
        </div>
    </div>
    

    <div class="box-body table-responsive ">
        <table class="table table-hover table-bordered" id="custom_premium">
            <thead>
              <tr style="background-color: #D9D7D7;">
                <th>Sr_No.</th>
                <th> Number Entered</th>
                <th> Custom Premium Per MT to Total Cost Calculation</th>

                  
              </tr>

            </thead>
            <tfoot>
              <tr>
                <th>Sr_No.</th>
                <th> Number Entered</th>
                <th> Custom Premium Per MT to Total Cost Calculation</th>

                  
              </tr>

            </tfoot>
            <tbody>
                 <% if @cp.blank? %>
                      <div class="global-heading user-head">No Record Found. </div>
                   <% else %>
                <% @cp&.each do |m| %>
                <tr>
                  <td><%= @s_no += 1 %></td>
                  <td><%= m.try(:number_entered)%></td>
                  <td><%= m.try(:custom_premium_per_mt)%></td>

                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>
    </div>
    
</div>
<style type="text/css">
   .margin-top-25 {
    margin-top: 25px;
    }
    .margin-top-60{
    margin-top: -60px;
    margin-left: 1050px;
    }
    .margin-top-5{
        margin-left: 1060px;
        margin-top: 5px;
    }
    tfoot input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
      }
    tfoot {
      display: table-header-group;
    }
</style>

<!--js CSV file validation-->

<script type="text/javascript">
 $(function()
{
  $('#btnsubmit').on('click',function()
  {
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  });
  
});

</script>

<script>
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#custom_premium tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#custom_premium').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
</script>
