<h1>Price List Management</h1>
    
<div class="box box-info">
       
    <div class="box-body">
        <div class="row">
          <div class="form-group" style="float: right;">
                      <%= link_to "Add New Supplier", new_supplier_path, class:"btn btn-success",style: "margin-right: 10px", title: "Add New Supplier"%> 
                      
          </div>
        </div>
    </div>
    
    <div class="box-body table-responsive ">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr style="background-color: #D9D7D7;">
                  <th>Sr_No.</th>
                  <th> Supplier</th>

                  <th colspan="3">Actions</th>
                  
                </tr>
                <br/>
                 <% if @supplier.blank? %>
                      <div class="global-heading user-head">No Record Found. </div>
                   <% else %>
                <% @supplier&.each do |m| %>
                <tr>
                  <td><%= @s_no += 1 %></td>
                  <td><%= m.try(:name)%></td>
                  <td>
                    <%= link_to '<em class="fa fa-eye" aria-hidden="true"></em>'.html_safe, price_lists_path(m),:class=>"btn btn-success", method: :get, title: "View" %>
                                     
                    <%#= link_to '<em class="fa fa-trash" aria-hidden="true"></em>'.html_safe,  coating_path(m), method: :delete,:class=>"btn btn-danger",title: "Delete", data: {confirm: 'Are you sure to delete?' }%>
                
                  </td>

                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="digg_pagination pull-right">
                <%= will_paginate @supplier %>
        </div>
    </div>
</div>
<style type="text/css">
   .margin-top-25 {
    margin-top: 25px;
    }
    .margin-top-60{
    margin-top: -60px;
    margin-left: 1050px;
    }
    .margin-top-5{
        margin-left: 1060px;
        margin-top: 5px;
    }
</style>

<!--js CSV file validation-->

<script type="text/javascript">
 $(function()
{
  $('#btnsubmit').on('click',function()
  {
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  });
  
});

</script>

<!--js csv validation-->
<style type="text/css">
    input,
button,
select,
textarea {
  width: 100px;
}
</style>