<div class="my-btn">
  <h4>Enquiry Management</h4>
  <div class="two-btn">
    <%= form_tag import_enquiries_path, multipart: true do%>
      <div class="form-group">
        <div class="col-md-2 "  style="margin-right: 120px;"><%=file_field_tag :file, class: 'form-control-file', required: true %></div>
        <div class="col-md-3"><%= submit_tag "Import CSV", class: 'btn btn-primary'%></div>
      </div>
    <%end%>
  </div>
</div>




<div class="box box-info">

<%= form_with scope: :search, url: enquiries_path, method: :get,autocomplete: :off,local: true do |f| %>
       
    <div class="box-body">
        <div class="row">
            <!-- /.col -->
           
            <!-- /.col -->
            <div class="col-md-2">
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Select Customer:</label>

                    <%= f.select(:name, options_for_select(Enquiry.order(:name).pluck(:name).uniq,(params.dig :search, :search)) , {:include_blank => "Select Customer"}, {:class => "form-control"} ) %>

                </div>
            </div>
            <!-- /.form-group -->
            <div class="col-md-2">
                <!-- /.form-group -->
                <div class="form-group">
                    <label>From date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <em class="fa fa-calendar"></em>
                        </div>
                       <%= f.text_field :start,class: "form-control datetimepicker_start",placeholder:"Select Date",value: (params.dig :search, :start), autocomplete: :off,data: { provide: 'datepicker'} %>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <!-- /.form-group -->
                <div class="form-group">
                    <label>To date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <em class="fa fa-calendar"></em>
                        </div>
                       <%= f.text_field :end,class: "form-control datetimepicker_end",placeholder:"Select Date",value: (params.dig :search, :end),data:{provide: 'datepicker'}, :autocomplete => :off %>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- /.form-group -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <%= f.submit "Search", class: "btn btn-block btn-primary", title: "Search"%>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <%= link_to '<button class="btn btn-block btn-danger" type="button">Cancel</button>'.html_safe ,enquiries_path, title: "Cancel" %>
                    </div>
                </div>
                
                <!-- /.form-group -->
            </div>
              <%= link_to "Download Sample CSV", enquiries_path(format: "csv"), class:"btn btn-success margin-top-25", title: "Download Sample CSV"%> 
            

            <!-- /.col -->
            <!-- /.row -->
        </div>
    </div>
    <% end %>
    
    <div class="box-body table-responsive ">
        <table class="table table-hover table-bordered" id="enquiries">
            <thead>
              <tr style="background-color: #D9D7D7;">
                <th>ID</th>
                <!-- <th> Customer Name</th> -->
                  <th> <label style="width: 100px;"> Customer Name </label></th>

                <th>  <label> Source </label></th>
                <th>  <label>Grade </label></th>
                <th> <label> Classification </label> </th> 
                <th>  <label>Surface</th>
                <th>  <label>Thickness(mm) </label></th>
                <th> <label> Width(mm) </label></th>
                <th>  <label>Edge </label></th>
                <th> <label> Length </label></th>
                <th> <label style="width:77px;"> Package Wt </label></th>
                <th>  <label>Coating </label></th>
                <th>  <label style="width: 100px;">Coating Type </label></th>
                <th>  <label style="width: 80px;">Quantity MT </label></th>
                <th> <label style="width: 110px"> Custom Premium </label></th>
                <th> <label> Port </label></th>
                <% unless User.pluck(:email).exclude?(current_user.email) %>
                <th><label style="width: 100px">  Unit Price(RMB)</label></th>
                <!-- <th> <label style="width: 65px"> USD Price</label></th> -->
                <%end%>
                <th> <label style="width: 65px"> FOB Price</label></th>
                <th> <label style="width: 65px"> CIF Price</label></th>

                <th colspan="3">Actions</th>


              </tr>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th> <label> Customer Name </label></th>
                  <th> Source</th>
                  <th> Grade</th>
                  <th> Classification </th> 
                  <th> Surface</th>
                  <th> Thickness(mm)</th>
                  <th> Width(mm)</th>
                  <th> Edge</th>
                  <th> Length</th>
                  <th> Package Wt</th>
                  <th> Coating</th>
                  <th> Coating Type</th>
                  <th> Quantity MT</th>
                  <th> Custom Premium</th>
                  <th> Port</th>
                  <% unless User.pluck(:email).exclude?(current_user.email) %>
                  <th> Unit Price(RMB)</th>
                  <!-- <th> USD Price</th> -->
                  <%end%>
                  <th> FOB Price</th>
                  <th> CIF Price</th>
                  <th colspan="3">Actions</th>
                  <!-- <th>Actions</th> -->
                  
                </tr>
              </tfoot>
            </thead>
            <tbody>
                 <% if @search.blank? %>
                      <div class="global-heading user-head">No Record Found. </div>
                   <% else %>
                <% @search&.each do |user| %>
                <tr>
                    <td><%= @sr_no+=1 %></td>
                    <td><%= user&.name %></td>
                    <td><%= user&.source %></td>
                    <td><%= user&.grade %></td>
                    <td><%= user&.classification %></td>
                    <td><%= user&.surface %></td>
                    <td><%= user&.thick %></td>
                    <td><%= user&.width %></td>
                    <td><%= user&.edge %></td>
                    <td><%= user&.length %></td>
                    <td><%= user&.package_wt %></td>
                    <td><%= user&.coating %></td>
                    <td><%= user&.coating_type %></td>
                    <td><%= user&.quantity_mt %></td>
                    <td><%= user&.custom_premium %></td>
                    <td><%= user&.port %></td>
                  <% unless User.pluck(:email).exclude?(current_user.email) %>
                    <td><%= user&.unit_price %></td>
                    <!-- <td><%#= user&.usd_price %></td> -->
                  <%end%>
                    <td><%= user&.fob_price %></td>
                    <td><%= user&.cif_price %></td>
                    
                   <td>
                    <%= link_to '<em class="fa fa-trash" aria-hidden="true"></em>'.html_safe,  enquiry_path(user), method: :delete,:class=>"btn btn-danger",title: "Delete", data: {confirm: 'Are you sure to delete?' }%>

                    </td>
                </tr>
                <%end%>
                <%end%>
            </tbody>
        </table>
    </div>
    <div class="box-body">
    <%= link_to "Calculate", calculate_enquiries_path, class:"btn btn-primary", title: "Calculate"%> 
  </div>
</div>
<style type="text/css">
   .margin-top-25 {
    margin-top: 25px;
    }
    .margin-top-60{
    margin-top: -60px;
    margin-left: 1050px;
    }
    .margin-top-5{
        margin-left: 1060px;
        margin-top: 5px;
    }
    tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    }
    tfoot {
      display: table-header-group;
    }
</style>

<!--js CSV file validation-->

<script type="text/javascript">
 $(function()
{
  $('#btnsubmit').on('click',function()
  {
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  });
  
});

</script>
<script>
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#enquiries tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#enquiries').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
</script>

